body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    color: gray;
}

.responsive {
    max-width: 100%;
    max-height: 90px;
}

.ellipsis {
    font-size: x-large;
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100px;
    min-height: 100px;
    padding: 0 10px;
    border-top: 3px solid gray;
    background-color: black;
}

label {
    font-size: x-large; 
    justify-self: end;
}

/* hide checkbox */ 
input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ ul{
    display: block;
}

/* Hide desktop menu by default */
ul {
    display: none;
    list-style: none;
    padding: 0;
}

ul > li {
    font-size: x-large;
    padding: 10px;
}

/* add media query for desktop support */ 
@media screen and (min-width: 768px){
    label {
        display: none;
    }

    ul {
        display: flex;
        justify-content: flex-end;;
    }

    ul > li {
        font-size: large;
    }
}

/* Insert CocaCola before the content of each li */
@media screen and (max-width: 767px){

    ul > li:before {
        content: "CocaCola\00a0";
    }

}